# Environment variables & secrets (CRITICAL: NEVER COMMIT REAL SECRETS)
.env
*.env
.env.example

# Build outputs
target/
dist/
build/
*.class

# Node / Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE and Editor files
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temp files
tmp/
scratch/


postman
